	<% if flash[:notice] %>
	<div class="alert alert-sucess" role="alert"><%= flash[:notice] %></div>	
	<% end %>
	<table class="table table-bordered table-hover table-dark">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Preço</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
			<% @produtos_por_id.each do |produto| %>
			<tr>
			<td><%= produto.id %></td>
			<td><%= produto.nome %></td>
			<td><%= produto.descricao %></td>
			<td><%= produto.preco %></td>
			<td><%= produto.quantidade %></td>
			<!--<td><a href="/produtos/<%= produto.id %>/remove" class= "btn btn-danger" >Remover</td>-->
			<td><%= button_to "Remover", 
							produto, 
							method: :delete, 
							class: "btn btn-danger",
							data: { confirm: "Tem certeza que deseja remover o item #{produto.nome}?"}
					 %>
			</tr>
		<% end %>
		</tbody>
	</table>
	<%= link_to "Cadastrar novo", new_produto_path, class: "btn btn-primary" %>
</div>
