<!DOCTYPE html>
<html>
<body>

<%= form_for Produto.new do |f| %>


Nome: 
<%= f.text_field :nome %><br/>

Descrição: 
<%= f.text_area :descricao %><br/>

Quantidade:
 <%= f.number_field :quantidade %><br/>

Preço: 
<%= f.number_field :preco %><br/>

<%= f.submit "Criar o produto" %>
<% end %>

</body>
</html>